/break.py
/das.py
/data.py
/demo.py
/dictt.py
/example.py
/if.py
/ifelif.py
/ifelse.py
/ifelse1.py
/in.py
/in1.py
/in2.py
/integer.py
/ion.py
/list.py
/lob.py
/loops.py
/loops1.py
/mot.py
/mp.py
/mp1.py
/mp2.py
/mp3.py
/mp4.py
/mp5.py
/mp6.py
/mp7.py
/mpp.py
/name.py
/nested.py
/number.py
/patternDiamond.py
/patternInvert.py
/patternLeft.py
/patternRight.py
/poem.py
/project1.py
/project2.py
/project4.py
/q1.py
/q10.py
/q11.py
/q12.py
/q13.py
/q14.py
/q15.py
/q16.py
/q17.py
/q18.py
/q19.py
/q2.py
/q20.py
/q21.py
/q22.py
/q23.py
/q24.py
/q25.py
/q26.py
/q27.py
/q28.py
/q3.py
/q4.py
/q5.py
/q6.py
/q7.py
/q8.py
/q9.py
/quotes.py
/sample.txt
/str.py
/sum.py
/th.py
/__pycache__